# Ignore compiled python
__pycache__/
*.pyc
*.pyo

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment
environment/
.idea/

# Output
output/

# Data
data/
references/
secrets/
lib/keys.py
lib/shadowboot.py

# Binaries...
build/
dist/

# Testing
.pytest_cache/